@import "vars";

.checkbox {
  cursor: pointer;

  [type="checkbox"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  &[disabled] {
    opacity: .6;
    user-select: none;
    cursor: default;
  }

  &-wrapper {
    @extend .panel_w-shadow;
    background: $white;
    width: auto;
    border-radius: 10px;
    padding: 10px;

    .checkbox {
      margin-bottom: 0;
    }
  }

  &-type__radio {
    .checkbox {
      &-text {
        font-size: $fs-medium;
        font-weight: bold;
        color: $gray-darken;
        margin: 0 10px 0 0;
      }

      &-box {
        width: 38px;
        min-width: 38px;
        height: 20px;
        min-height: 20px;
        position: relative;
        border-radius: 50px;
        display: -ms-flexbox;
        display: flex;
        background: $gray;
        transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.38);

        &:after {
          content: "";
          position: absolute;
          transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.38);
          width: 18px;
          min-width: 18px;
          height: 18px;
          min-height: 18px;
          background: $white;
          top: 1px;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15),
            0px 3px 1px rgba(0, 0, 0, 0.06);
          border-radius: 50px;
          left: 1px;
        }

        & + .checkbox-text {
          margin: 0 0 0 10px;
        }
      }

      &-inner {
        display: flex;
        align-items: center;
      }
    }

    [type="checkbox"]:checked ~ .checkbox-inner .checkbox-box {
      background: $green;

      &:after {
        transform: translateX(100%);
      }
    }
  }

  &-type__check {
    margin-bottom: 10px;
    margin-right: 10px;

    .checkbox {
      &-inner {
        display: flex;
        align-items: center;
      }
      &-box {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        border: 1px solid $gray;
        border-radius: 2px;
        transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.38);

        .ui-icon {
          opacity: 0;
          visibility: hidden;
          color: $white;
          transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.38);
          transform: scale(0);
        }
      }
      &-text {
        margin-left: 10px;
      }
    }

    &[disabled] {
      .checkbox {
        &-box {
          background: $gray-lighten;
        }
      }
    }

    [type="checkbox"]:checked ~ .checkbox-inner .checkbox-box {
      background: $green;
      border-color: $green;

      .ui-icon {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-text__top {
    .checkbox {
      &-inner {
        display: flex;
        flex-direction: column-reverse;
      }
      &-text {
        margin: 0 0 5px 0;
        font-size: $fs-small;
        font-weight: normal;
      }
    }
  }

  &_bordered {
    display: flex;
    border: 1px solid $gray;
    min-height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  &_panel {
    display: flex;
    border-radius: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: $boxShadowDefault;
    background: $white;
    min-height: 40px;
  }
}
