@import "vars";
* {
  &[data-component="copy"] {
    position: relative;
    cursor: pointer;
    z-index: 20 !important;

    > * {
      margin: 0;
    }

    .tooltip-popup {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: all 0.15s ease-in-out, transform 0.2s ease-in-out;
      user-select: none;
      pointer-events: none;
      z-index: 40;
      background-color: transparent;

      &__inner {
        background: $accent;
        border-radius: $border-radius-field;
        color: $white;
        font-size: $fs-small;
        width: auto;
        padding: 4px 8px;
        font-weight: bold;
      }
    }

    &.is-copied {
      .tooltip-popup {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
