.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background: $accent;
}

.datepicker,
.rangepicker {
  &-container {
    display: inline-flex;
    align-items: center;

    label,
    label.datepicker-label {
      @extend #text-size_medium;
      font-weight: normal;
    }

    .datepicker-input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $gray-darken;
      padding: 0 5px;
      color: $gray-darken;
      text-align: center;
      width: auto;
      flex: auto;
      max-width: 120px;

      &.in-edit {
        &:focus,
        &:active {
          box-shadow: none;
        }
      }
    }
  }

  &-range {
    display: flex;

    [class^="rangepicker-"] {
      display: flex;
      align-items: center;
    }
  }
}

.datepicker-cell {
  border-radius: 2px;
}

.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
  background-color: $accent;
}

.datepicker-cell.range {
  background-color: lighten($accent, 40%);
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: $accent-darken;
  color: $white;
}

.datepicker-dropdown {
  z-index: 50;
}
