.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background: $accent;
}

.datepicker,
.rangepicker {
  &-container {
    display: inline-flex;
    align-items: center;
    color: $gray-darken;

    label,
    label.datepicker-label {
      @extend #text-size_medium;
      font-weight: normal;
      margin-right: 10px;
    }

    .datepicker-input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $gray-darken;
      padding: 0 5px;
      color: $gray-darken;
      text-align: center;
      flex: auto;
      width: 100%;
      max-width: 110px;

      &.in-edit {
        &:focus,
        &:active {
          box-shadow: none;
        }
      }
    }

    &.datepicker_view-default {
      display: inline-flex;
      align-items: center;
      margin: 0 0 10px 0;
      flex: 1;
      width: 100%;

      label,
      label.datepicker-label {
        font-weight: bold;
        margin-right: 10px;
        flex: initial;
        color: $dark;
        min-width: 100px;
      }

      input.datepicker-input {
        background: $white;
        border: 1px solid $gray;
        border-radius: 10px;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        height: 40px;
        min-height: 40px;
        min-width: 1px;
        width: 100%;
        max-width: 100%;
      }
    }

    &.is_fullwidth {
      .datepicker-input {
        max-width: initial;
      }
    }

    @media (max-width: $grid-breakpoints-sm) {
      &,
      &.datepicker_view-default {
        flex-direction: column;
        align-items: flex-start;

        label {
          margin-bottom: 6px;
        }

        input,
        textarea {
          width: 100%;
        }
      }
    }
  }

  &-range {
    display: flex;
    gap: 10px;
    [class^="rangepicker-"] {
      display: flex;
      align-items: center;
    }
  }
}

.datepicker-cell {
  border-radius: 2px;
}

.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
  background-color: $accent;
}

.datepicker-cell.range {
  background-color: lighten($accent, 40%);
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: $accent-darken;
  color: $white;
}

.datepicker-dropdown {
  z-index: 50;
}
