@import "vars";

.panel {
  position: relative;
  background: $white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: $fs-medium;

  &.panel {
    &_gray {
      background-color: $gray-lighten;
      box-shadow: none;
    }
  }

  &-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;

    > .panel {
      flex: 1;
      width: auto;
      display: flex;
    }

    @media (max-width: $grid-breakpoints-sm) {
      flex-direction: column;
    }
  }

  &-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  &-block {
    flex: 1;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  &-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-with_general {
    .panel {
      &-inner {
        display: grid;
        grid-template-columns: 0.5fr 10fr;
        grid-template-areas: "general header" "general body";
        grid-column-gap: 14px;

        .panel {
          &-header {
            grid-area: header;
          }
          &-body {
            grid-area: body;
          }
          &-general {
            grid-area: general;

            .checkbox {
              margin-right: 0;
            }
          }
        }

        @media (max-width: $grid-breakpoints-md) {
          grid-row-gap: 10px;
        }
      }

      &-detail {
        display: grid;
        grid-template-columns: 0.5fr 10fr;
        grid-column-gap: 14px;
        margin-top: 15px;
        background: $gray-lighten;
        border-radius: 10px;
        padding: 20px 0;

        .panel-block {
          margin-right: 10px;
        }

        > * {
          grid-column-start: 2;

          @media (max-width: $grid-breakpoints-sm) {
            flex-direction: column;
          }
        }
      }
    }
  }

  &-detail {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: scale(0.98) translateY(-20px);
  }

  &.is-toggled {
    .panel-detail {
      opacity: 1;
      visibility: visible;
      position: relative;
      transform: scale(1) translateY(0);
    }
  }

  &-general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-header {
    padding-bottom: 10px;
    width: 100%;

    p {
      margin: 0;
    }

    &_underline {
      border-bottom: 1px solid $gray;
    }
  }
  &-body {
    padding-top: 20px;
  }

  &_w-shadow {
    box-shadow: $boxShadowDefault;
  }

  &-side_info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
