@import "text";

.text-size_default {
  @extend #text-size_default;
}
.text-size_medium {
  @extend #text-size_medium;
}
.text-size_small {
  @extend #text-size_small;
}

.h2 {
  font-size: 22px;
  line-height: 120%;
  margin: 0 0 10px 0;
}

.h3 {
  font-size: 20px;
  line-height: 130%;
  margin: 0 0 10px 0;
}
