$ACTION_SIZE: 22px;

.action {
  position: relative;
  display: inline-flex;

  &-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &-label {
    margin: 0 0 0 5px;
    color: $gray-darken;
  }

  &-target {
    @extend .button_reset;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:active {
      scale: 0.98;
    }

    &__point {
      border: 1px solid $gray;
      border-radius: 50px;
      width: $ACTION_SIZE;
      height: $ACTION_SIZE;
      min-width: $ACTION_SIZE;
      min-height: $ACTION_SIZE;
      display: flex;
      position: relative;
      color: inherit;

      &:before {
        content: "";
        position: absolute;
        width: 72%;
        height: 72%;
        border-radius: inherit;
        background-color: $gray;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &-popup {
    @extend .dropdown-popup;
    max-width: initial;
    right: auto;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
    top: 100%;
    margin-top: 5px;
  }

  &-list {
    @extend .dropdown-list;

    li {
      padding: 0;
      margin: 0;

      &:last-child {
        .action-control {
          border-bottom: transparent;
        }
      }
    }
  }

  &-icon {
    @extend .dropdown-icon;
    color: inherit;
  }

  &-control {
    padding: 10px 10px;
    border-bottom: 1px solid $gray;
    max-width: 100%;
    border-radius: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .ui-icon {
      @include box(12px, 12px);
      color: $gray-darken;
      margin-right: 10px;
    }

    span {
      flex: 1;
    }

    &:hover {
      background-color: $gray-lighten;
    }
  }

  &.is-active {
    .action {
      &-popup {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  &.action {
    &_orange {
      .action {
        &-target {
          color: $orange;

          &__point {
            border-color: $orange;

            &:before {
              background-color: $orange;
            }
          }
        }
      }
    }
    &_red {
      .action {
        &-target {
          color: $red;

          &__point {
            border-color: $red;

            &:before {
              background-color: $red;
            }
          }
        }
      }
    }
    &_red-lighten {
      .action {
        &-target {
          color: $red-lighten;

          &__point {
            border-color: $red-lighten;

            &:before {
              background-color: $red-lighten;
            }
          }
        }
      }
    }
    &_green {
      .action {
        &-target {
          color: $green;

          &__point {
            border-color: $green;

            &:before {
              background-color: $green;
            }
          }
        }
      }
    }
  }

  &.action {
    &_placement {
      &-right {
        .action-target {
          display: inline-flex;
          flex-direction: row;
        }
        .action-icon {
          margin: 0 0 0 5px;
        }
      }
    }
  }

  &[data-placement-popup="right"] {
    .action-popup {
      right: 0;
      transform: translateY(-10px);
      left: auto;
    }

    &.is-active {
      .action {
        &-popup {
          transform: translateY(0);
        }
      }
    }
  }

  &[data-placement-popup="left"] {
    .action-popup {
      right: auto;
      transform: translateY(-10px);
      left: 0;
    }

    &.is-active {
      .action {
        &-popup {
          transform: translateY(0);
        }
      }
    }
  }
}
