.finance {
  &__list {
    margin-top: 20px;
  }

  &-controls {
    display: flex;
    align-items: center;
    gap: 20px;

    > * {
      flex: 1;
    }

    .button_group-row {
      gap: 20px;
    }

    @media (max-width: $grid-breakpoints-md) {
      flex-direction: column;
    }
  }

  &__panel {
    @extend .panel;
    @extend .panel_w-shadow;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;

    .panel {
      &-header {
        p {
          margin-right: 20px;

          span:nth-child(2) {
            color: $gray-darken;
            margin-left: 4px;
          }
        }
      }

      &-block {
        padding: 0;
      }

      &-body {
        padding: 0;

        .panel-row {
          gap: 20px;
        }

        .panel-block {
          border-top: 1px solid $gray;
          padding-top: 10px;
        }
      }
    }
  }
}
