.folder {
  width: 100%;
  color: $gray-darken;
  text-decoration: none;
  border-radius: 20px;
  padding: 15px 10px;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;

  &:hover,
  &:active {
    color: $gray-darken;
    background: transparentize($dark, 0.99);
  }

  &.is-active {
    background: $gray-lighten;
    border-color: $accent;
    color: $accent;
  }

  &-name {
    @extend #text-size_small;
    font-weight: bold;
    margin: 5px 0 0 0;
    color: inherit;
  }
  &-number {
    @extend #text-size_small;
    font-family: $secondary-font;
    font-weight: bold;
    color: inherit;
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &-composition {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 auto;

    .ui-icon {
      width: 100%;
      height: 100%;
      min-height: 100%;
      min-width: 100%;
    }
  }
  &-indicator {
    @extend .indicator;
  }
}
