.pagination {
  padding: 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &-bar {
    position: relative;
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;

    & + * {
      margin-left: 20px;

      &.form-control {
        flex: initial;
        width: auto;

        label {
          font-weight: normal;
        }

        .choices__inner {
          border-color: transparent;
        }
      }
    }
  }

  &-nav {
    &.pagination-nav {
      &__next,
      &__prev {
        @extend .button;
        padding: 0;
        background: $white;
        border: 1px solid transparent;

        .ui-icon {
          @include box(14px, 14px);
        }
      }

      &__next {
        .ui-icon {
          transform: rotate(90deg);
        }
      }
      &__prev {
        .ui-icon {
          transform: rotate(270deg);
        }
      }
    }
  }

  &-pages {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-page {
    @extend .button;
    padding: 0;
    font-weight: normal;

    &.is-active {
      color: $secondary;
      font-weight: bold;
      font-family: $secondary-font;
    }

    &:hover {
      background: $white;
    }
  }

  &_bordered {
    .pagination {
      &-nav {
        &.pagination-nav {
          &__next,
          &__prev {
            border: 1px solid $gray;
          }
        }
      }
    }
  }

  @media (max-width: $grid-breakpoints-sm) {
    flex-direction: column;

    &-bar {
      & + * {
        margin: 20px 0 0 0;
        width: 100%;
      }
    }
  }
}
