.settings {
  width: 100%;

  &-panel {
    @extend .panel;
    @extend .panel-stats;

    &.settings-panel_2 {
      grid-column: 1 / -1;
    }
  }

  &-tile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: $grid-breakpoints-md) {
      grid-template-columns: 1fr;
    }
  }
}
